<div class="container">
    <div class="row">
        <h1>{{ title }}</h1>
    </div>
    <div class="row">
        <div id="game" class="col col-md-5 col-sm-12">
            <app-row [row]="row"></app-row>
            <ul class="colors">
                <li *ngFor="let color of colors" class="color" (click)="onSelect(color)">
                  <span class="badge" [ngStyle]="{backgroundColor: color.color}">{{color.id}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
